:root {
	--white: #fff;
	--main-background-color: #EDF1F3;
	--panel-background-color: #2B363C;
	--sidebar-background-color: #10171A;
	--background-color-translucent: rgba(255, 255, 255, 0.07);
	--header-height: 55px;
	--color-primary: #18A0BE;
	--color-secondary: #622DB9;
	--color-white-translucent: rgba(255, 255, 255, 0.7);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	background-color: initial;
	border: initial;
	color: inherit;
	font-family: inherit;
}

@keyframes fade-in-from-top {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in-from-left {
	0% {
		transform: translateX(-50px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}

}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.app {
	color: var(--white);
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	height: 100vh;
	width: 100vw;
}

.header {
	background-image: linear-gradient(to right,
	var(--color-primary),
	var(--color-secondary));
	display: flex;
	height: var(--header-height);
}

.logo {
	align-self: center;
	animation: fade-in-from-top 0.5s;
	margin: 0 20px 0 30px;
}

.dd-toggle {
	animation: fade-in-from-top 0.5s;
	color: var(--color-white-translucent);
	padding: 0 13px;
	transition: color 0.4s,
	background-color 0.4s;

	&:focus {
		background-color: var(--background-color-translucent);
		color: var(--white);
		outline: none;
	}

	&:hover {
		background-color: var(--background-color-translucent);
		color: var(--white);
		cursor: pointer;
	}

	&:nth-of-type(4) {
		justify-self: center;
		margin-left: auto;
	}

	&:last-child {
		align-items: center;
		display: inherit;
	}

}

.dd-toggle__icon {
}

.dd-toggle__image {
	border-radius: 50%;
	height: 30px;
	margin-right: 7px;
	object-fit: cover;
	width: 30px;
}

.dd-toggle__text {
}

.app__container {
	display: flex;
	height: calc(100vh - var(--header-height));

	.sidebar {
		background-color: var(--sidebar-background-color);
		display: flex;
		flex-direction: column;
		width: 75px;

		.menu {

		}

		.menu__button {
			align-items: center;
			animation: fade-in-from-left 0.5s;
			color: rgba(255, 255, 255, .4);
			display: flex;
			flex-direction: column;
			padding: 19px 0;
			transition: all 0.4s;
			width: 100%;
		}

		.menu__button:hover {
			background-color: #2B363B;
			color: var(--white);
			cursor: pointer;
		}

		.menu__button:focus {
			background-color: #2B363B;
			color: var(--white);
			cursor: pointer;
		}

		.menu__button--active {
			background-color: #2B363B;
			color: var(--white);
			position: relative;
		}

		.menu__button--active::before {
			background-color: #2B363B;
			background-color: #375BB6;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 3px;
		}

		.menu__icon {
			font-size: 18px;
			margin-bottom: 3px;
		}

		.menu__text {
			font-size: 12px;
			font-weight: 500;
		}

	}

	.panel {
		background-color: var(--panel-background-color);
		padding: 15px 31px;
		width: 350px;

		.panel__top {
			align-items: center;
			border-bottom: 1px solid #4B5155;
			display: flex;
			justify-content: space-between;
			padding-bottom: 12px;
		}

		.first-heading {
			font-size: 18px;
			font-weight: 400;
		}

		.panel__images {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			padding: 25px 0;
		}

		.panel__img {
			animation: fade-in 1s;
			border-radius: 7px;
			cursor: pointer;
			height: 140px;
			object-fit: cover;
			transition: transform 0.4s;
			width: 140px;
		}

		.panel__img:nth-child(2) {
			animation: fade-in 1s .1s backwards;
		}

		.panel__img:nth-child(3) {
			animation: fade-in 1s .2s backwards;
		}

		.panel__img:nth-child(4) {
			animation: fade-in 1s .3s backwards;
		}

		.panel__img:nth-child(5) {
			animation: fade-in 1s .4s backwards;
		}

		.panel__img:hover {
			transform: scale(1.1);
		}

		.panel__collapse-icon {
			color: #6B7276;
			cursor: pointer;
		}

		.panel__btn {
			animation: fade-in 1s .5s backwards;
			background-color: #333e44;
			border-radius: 7px;
			cursor: pointer;
			height: 140px;
			transition: background-color 0.4s;
			width: 140px;
		}

		.panel__btn:hover, .panel__btn:focus {
			background-color: #404C52;
		}

		.panel__upload-icon {
			color: #21292D;
			font-size: 25px;
		}

	}

	.main {
		background-color: var(--main-background-color);
		flex: 1;
	}

	.info-bar {
		align-items: center;
		background-color: var(--white);
		border: 1px solid #D6DDE1;
		display: flex;
		flex-direction: row;
		height: 50px;
		justify-content: space-between;
		padding: 0 30px;
	}

	.breadcrumbs {
		align-items: center;
		display: flex;
		font-size: 12px;
		letter-spacing: 0.5px;
		text-transform: uppercase;

		.breadcrumbs__link {
			color: #A6ADB1;
			text-decoration: none;
		}

		.breadcrumbs__name {
			color: #2E3335;
			font-weight: 500;
		}

		.breadcrumbs__icon {
			color: #A6ADB1;
			margin: 0 13px;
		}

	}

	.button {
		background-color: #375BB6;
		border-radius: 500px;
		font-size: 11px;
		letter-spacing: 1px;
		padding: 8px 20px;
		text-transform: uppercase;
		transition: background-color 0.4s;
	}

	.button:hover {
		background-color: #2d4a93;
	}


}

.footer {
	margin-bottom: 20px;
	margin-top: auto;
	transform: rotate(-90deg);

	.copyright {
		color: rgba(255, 255, 255, .15);
		font-size: 12px;
		white-space: nowrap;
	}
}

.artboard {
	display: flex;
	justify-content: center;
}

.canvas {
	height: 57.5vh;
	position: relative;
	width: 48.6vw;
	border: 1px solid var(--white);
	border-radius: 3px;

	.canvas__bg-img {
		height: 100%;
		object-fit: cover;
		opacity: .15;
		width: 100%;
	}

	.canvas__fg-img {
		border-radius: 3px;
		height: 75%;
		left: 50%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 78%;
		border: 1px solid var(--white);
	}

	.canvas__circle {
	}

	.canvas__circle:nth-of-type(1) {
	}

	.canvas__circle:nth-of-type(2) {
	}

	.canvas__circle:nth-of-type(3) {
	}

	.canvas__circle:nth-of-type(4) {
	}

}

.tools {
	height: 57.5vh;
	display: flex;
}

.tool {

	.tool__icon {
	}

}

